# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.Python
build/
dist/
lib/
lib64/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Selenium
geckodriver.log
chromedriver.log 

# direnv-managed virtualenv (if using layout python)
.direnv/

# macOS metadata
.DS_Store
